<div class="flex-box">
  <div style="width: 45%;">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
      [title]="chartOptions.title"></apx-chart>
    <button (click)="updateChart()">Update</button>
  </div>
  <div id="chart2" style="float: left; width: 45%;">
    <apx-chart [series]="chartOptions2.series" [chart]="chartOptions2.chart" [xaxis]="chartOptions2.xaxis"
      [stroke]="chartOptions2.stroke" [tooltip]="chartOptions2.tooltip" [dataLabels]="chartOptions2.dataLabels">
    </apx-chart>
  </div>
</div>
<div class="flex-box">
  <div id="chart3" style="width: 45%;">
    <apx-chart
      [series]="chartOptions3.series"
      [chart]="chartOptions3.chart"
      [labels]="chartOptions3.labels"
      [responsive]="chartOptions3.responsive"
    ></apx-chart>
  </div>
  <div id="chart4">
    <apx-chart
      [series]="chartOptions4.series"
      [chart]="chartOptions4.chart"
      [xaxis]="chartOptions4.xaxis"
      [yaxis]="chartOptions4.yaxis"
      [title]="chartOptions4.title"
    ></apx-chart>
  </div>
</div>

<router-outlet></router-outlet>